<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
    <script type="text/javascript" src="../js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="../js/jquery.tiltShift.js"></script>
    <script type="text/javascript" src="../js/applyTiltShift.js"></script>
    <link type="text/css" rel="stylesheet" href="../css/jquery.tiltShift.css">
</head>
<body>
<img src="../img/reWalls.com-63177.jpg" class="tiltshift" data-position="60" data-blur="3" data-focus="15" data-falloff="3" data-direction="x">
</body>
</html>